@model List<WebEF.Models.API.Persona>
@{
    ViewData["Title"] = "Home Page";
    int n = 0;
}

<a href="@Url.ActionLink("SaveUser", "User")">
    <img src="~/img/person-plus-fill.svg" />
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre y apellido</th>
            <th scope="col">Tipo dDocumento</th>
            <th scope="col">Nro documento</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Estado civil</th>
            <th scope="col">Fecha</th>
            <th scope="col">Valor a Ganar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombres @item.Apellidos</td>
                <td>@item.TipoDocumento</td>
                <td>@item.NroDocumento</td>
                <td>@item.EstadoCivil</td>
                <td>@item.FechaNacimiento</td>
                <td>@item.Fecha</td>
                <td>@item.ValorGanar</td>
                <td>@Html.ActionLink("Editar", "Update", "User", new { tipo = item.TipoDocumento, documento = item.NroDocumento })</td>
                <td>@Html.ActionLink("Eliminar", "Delete", "User", new { tipo = item.TipoDocumento, documento = item.NroDocumento })</td>
            </tr>
        }
    </tbody>
</table>
